@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
:root{
    --bg-color: #EFEAE3;
    --text-color: black;

}
::selection{
    background-color: #0ADEB7;
}
ul{
    list-style-type: none;
}
#main{
    /* background-color: black; */
    position: relative;
    z-index: 10;
}
a{
    color: black;
    text-decoration: none;
}
.full-scr{
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.644);
    position: fixed;
    z-index: 11;
    top: -100%;
    transition: all ease 0.7s;
}
.ham{
    display: none;
    padding: 10px 20px;
    border: 1px solid rgb(161, 161, 161);
    border-radius: 50px;
    text-transform: capitalize;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.664);
    font-weight: 400;
    font-size: 18px;
    background-color: var(--bg-color);
}
#homepage{
    padding: 0 3vw;
    min-height: 100vh;
    width: 100%;
    background-color: var(--bg-color);
    position: relative;

}
.mobile-menu{
    display: none;
}
.menu-content{
    display: none;
    text-transform: capitalize;
    margin: 0;
    animation: menu-content 1s ease-in-out;
}
@keyframes menu-content{
    0% {
        height: 0rem;
    }
    100% {
        height: 100vh;
    }
}
.menu-content ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 2em;
}
.navbar{
    z-index: 20;
    padding: 2vw 0vw;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
   position: relative;
   z-index: 12;
}
.leftsidenav{
    display: flex;
    align-items: center;
    gap: 1.5vw;
}
.leftsidenav a{
    padding: 10px 20px;
    border: 1px solid rgb(161, 161, 161);
    border-radius: 50px;
    text-transform: capitalize;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.664);
    font-weight: 400;
    font-size: 18px;
    position: relative;
    /* transition: all ease-in 0.5s; */
    z-index: 2;
    overflow: hidden;
}
.leftsidenav a::after{
    content: "";
    position: absolute;
    background-color: black;
    color: white;
    height: 100%;
    width: 100%;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease-in 0.4s;
    z-index: 0;
}
.leftsidenav a:hover::after{
    bottom: 0;
    border-radius: 0;
    z-index: -2;

}
.leftsidenav a:hover {
    color: white;
    z-index: 2;
}
#center{
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    border-bottom: 1px solid black;
    padding-bottom: 2.5vw;
    
}
.left h3{
    width: 30vw;
    font-size: 2vw;
    text-transform: capitalize;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 300;

}
.right img{
    height: 50vh;
}

/* project page styling */

#projectpage{
    padding: 0 3vw;
    min-height: 100vh;
    width: 100%;
    background-color: var(--bg-color);
    position: relative;
}
#projectpage h1{
    font-size: 6vw;
    text-align: center;
    font-weight: 300;
}
.project-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-bottom: 1px solid black;
    padding-bottom: 22vh;
    /* box-shadow: 7px 3px 20px black; */
}
.project-card{
    border: 1px solid black;
    position: relative;
    top: 4em;
    /* backdrop-filter: blur(10px); */
    left: 2em;
    width: 20rem;
    height: 25rem;
    background-color: #fafafa8c;
    backdrop-filter: blur(10px);
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.822);
    transition: all .30s ease-in;
}
.project-card:hover{
    scale: 1.05;
    /* transform: translateY(-10px); */
}
.project-card .duration{
    padding: 0.75rem;
    margin: 0;
    font-style: normal;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
}
.project-card .company{
    padding: 0.75rem;
    margin: 0;
    font-size: 38px;
    font-weight: bold;
}
.project-card .role{
    padding: 0.75em;
    margin: 0;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
.project-card .images{
    width: 18rem;
    height: auto;
    margin-left: 1.5em;
    margin-top: 2em;
    object-fit: cover;
}
#card-gradient-helpy{
    position: absolute;
    border: 1px solid black;
    width: 21rem;
    height: 26rem;
    top:3.5rem;
    left:8%;
    background: linear-gradient(180deg, #C1FFDA 0%,  #EFEAE3 100%);;
}
#card-gradient-weather{
    position: absolute;
    border: 1px solid black;
    width: 21rem;
    height: 26rem;
    top: 3.6rem;
    left: 39.4%;
    background: linear-gradient(180deg, #E3CDFF 0%,  #EFEAE3 100%);
}
#card-gradient-anime{
    position: absolute;
    border: 1px solid black;
    width: 21rem;
    height: 26rem;
    top: 3.6rem;
    right: 3%;
    background: linear-gradient(180deg, #FF9B71 0%, #EFEAE3 100%);
}

/* skills sections styling */

#skillspage{
    padding: 0 3vw;
    min-height: 100vh;
    width: 100%;
    background-color: var(--bg-color);
    position: relative;
    z-index: 4;
}
#skillspage h1{
    font-size: 6vw;
    text-align: center;
    font-weight: 300;
    padding: 5vh;
}
.skills{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin: auto;
    width: 70%;
}
.skills h2{
    font-style: normal;
    font-weight: 400;
    padding: 0.25em 0em 0em 0em;
}
/* .skills-content{
    margin: 0em 0em;
} */
.skills-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 70%;
    margin: 1.75em 0em;
}
.skills-box h4{
    border: 0.1em solid black;
    padding: 0.5em;
    margin: 0.5em;
    background-color: #f0f0f0;
    width: fit-content;
    height: fit-content;
    font-family: 'IBM Plex Mono', monospace;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    box-shadow: 2px 2px 2px black;
}

/* empty pages */
#empty-page1{
    height: 20vh;
    width: 100%;
    background-color: var(--bg-color);
}
/* footer section design */

.footer{
    z-index: 1;
    /* background-color: white; */
    margin-top: -100vh;
    display: block;
    position: relative;
    overflow: visible;
}
#empty-page{
    height: 80vh;
    width: 100%;
}
#footer-component{
    height: 80vh;
    background-color: #0b0500;
    position: sticky;
    bottom: 0;
    overflow: hidden;
}
#footer-content{
    position: relative;
    z-index: 0;
    width: 100%;
}
#footer-component h1{
    font-size: 6vw;
    text-align: center;
    font-weight: 300;
    padding: 5vh;
    color: #f0f0f0;
}
.details{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 4em 0em;
    padding: 0em 2em;
    flex-wrap: wrap
}
.details h4{
    border: 0.1em solid #EFEAE3;
    padding: 0.5em;
    margin: 0.5em;
    width: fit-content;
    height: fit-content;
    font-size: 16px;
    font-family: 'IBM Plex Mono', monospace;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #EFEAE3;
}
#mail-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#mail-button h2{
    color: #EFEAE3;
    font-weight: 300;
    font-family: 'IBM Plex Mono', monospace;
}
#Mail-button a{
    color: #fafafa;
}
#socialmedia-handles{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 5em;
    margin-top: 6rem;
    gap: 1em;
}
#socialmedia-handles h2{
    color: #EFEAE3;
    font-size: 2.5vw;
    font-weight: 300;
    font-family: 'IBM Plex Mono', monospace;
}
#socialmedia-handles a{
    color: #EFEAE3;
    font-size: 2em;
    
}

/* --------------------- */

/* responsiveness */

@media only screen and (max-width:1320px){
    .project-card{
        left:1em;
    }
    #card-gradient-helpy{
        width: 21rem;
        height: 26rem;
        top:3.5rem;
        left: 4.7rem;
    }
    #card-gradient-weather{
        width: 21rem;
        height: 26rem;
        top: 3.5rem;
        left: 28.8rem;    
    }
    #card-gradient-anime{
        width: 21rem;
        height: 26rem;
        top: 3.5rem;
        right: 2.8rem;  
    }
}
@media only screen and (max-width: 1300px){
    #card-gradient-helpy{
        width: 21rem;
        height: 26rem;
        top:3.5rem;
        left: 4.5rem;
    }
    #card-gradient-weather{
        width: 21rem;
        height: 26rem;
        top: 3.5rem;
        left: 28.5rem;    
    }
    #card-gradient-anime{
        width: 21rem;
        height: 26rem;
        top: 3.5rem;
        right: 2.5rem;  
    }
}
@media only screen and (max-width: 1285px){
    #card-gradient-helpy{
        width: 21rem;
        height: 26rem;
        top:3.5rem;
        left: 4.3rem;
    }
    #card-gradient-weather{
        width: 21rem;
        height: 26rem;
        top: 3.5rem;
        left: 28.2rem;    
    }
    #card-gradient-anime{
        width: 21rem;
        height: 26rem;
        top: 3.5rem;
        right: 2.4rem;  
    }
}
@media only screen and (max-width: 1250px){
    #card-gradient-helpy{
        width: 21rem;
        height: 26rem;
        top:3.5rem;
        left: 3.8rem;
    }
    #card-gradient-weather{
        width: 21rem;
        height: 26rem;
        top: 3.5rem;
        left: 27.2rem;    
    }
    #card-gradient-anime{
        width: 21rem;
        height: 26rem;
        top: 3.5rem;
        right: 2rem;  
    }
}
@media only screen and (max-width: 1200px){
    .project-card{
        height: 22rem;
        left: 1em;
        width: 18rem;
    }
    .project-card .company{
        padding: 0 0.75rem;
    }
    .project-card .images{
        height: 20vh;
        object-fit: contain;
        width: 20vw;
    }
    .project-card .role{
        font-size: 17px;
    }
    #card-gradient-helpy{
        width: 19.1rem;
        height: 23rem;
        top:3.5rem;
        left: 4.5rem;
    }
    #card-gradient-weather{
        width: 19.1rem;
        height: 23rem;
        top: 3.5rem;
        left: 26.5rem;    
    }
    #card-gradient-anime{
        width: 19.1rem;
        height: 23rem;
        top: 3.5rem;
        right: 2.5rem;  
    }
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
    }
}
@media only screen and (max-width: 1180px){
    #card-gradient-helpy{
        left: 4.3rem;
    }
    #card-gradient-weather{
        left: 26.1rem;    
    }
    #card-gradient-anime{
        right: 2.3rem;  
    }
}
@media only screen and (max-width: 1150px){
    #card-gradient-helpy{
        left: 3.8rem;
    }
    #card-gradient-weather{
        left: 25.2rem;    
    }
    #card-gradient-anime{
        right: 1.9rem;  
    }
}
@media only screen and (max-width:1100px){
    .details{
        margin: 9em 3em;
    }
    .details h4{
        font-size: 13px;
    }
    #mail-button h2{
        font-size: 20px;
    }
    #card-gradient-helpy{
        left: 3rem;
    }
    #card-gradient-weather{
        left: 23.6rem;    
    }
    #card-gradient-anime{
        right: 1.1rem;  
    }
}
@media only screen and (max-width: 1020px) {
    .project-card{
        height: 21rem;
        width: 17rem;
    }
    .project-card .company{
        font-size: 32px;
    }
    .project-card .duration{
        font-size: 16px;   
    }
    .project-card .role{
        font-size: 15px;
    }
    .skills-box h4{
        font-size: 13px;
    }
    #card-gradient-helpy{
        left: 2.8rem;
        height: 22rem;
        width: 18rem;
    }
    #card-gradient-weather{
        left: 22rem;  
        height: 22rem;
        width: 18rem;  
    }
    #card-gradient-anime{
        right: 0.8rem; 
        height: 22rem;
        width: 18rem; 
    }
}
@media only screen and (max-width: 1000px){
    #card-gradient-helpy{
        left: 2.4rem;
    }
    #card-gradient-weather{
        left: 21.3rem;    
    }
    #card-gradient-anime{
        right: 0.5rem;  
    }
}   
@media only screen and (max-width: 920px){
    .project-card{
        height: 20rem;
        width: 15rem;
    }
    .project-card .company{
        font-size: 30px;
    }
    .project-card .duration{
        font-size: 15px;
    }
    .project-card .role{
        font-size: 12px;
    }
    .skills-box h4{
        font-size: 12px;
    }
    .details{
        margin: 11em 3em;
    }
    #card-gradient-helpy{
        left: 2.8rem;
        height: 21rem;
        width: 16rem;
    }
    #card-gradient-weather{
        left: 20rem;  
        height: 21rem;
        width: 16rem;  
    }
    #card-gradient-anime{
        right: 0.8rem; 
        height: 21rem;
        width: 16rem; 
    }

}
@media only screen and (max-width: 780px){
    .details{
        margin: 13em 3em;
    }
    .details h4{
        font-size: 10px;
    }
    #mail-button h2{
        font-size: 18px;
    }
    .leftsidenav a{
        font-size: 15px;
        font-weight: 500;
    }
    .right img{
        height: 25vh;
    }
    .project-card .duration{
        font-size: 11px;
    }
    .project-card .company{
        font-size: 28px;
    }
    .project-card .images{
        height: 13vh;
        width: 27vw;
        margin-left: 1em;
        margin-top: .8em;
    }
}
@media only screen and (max-width:765px){
    .project-content{
        gap: 3rem;
    }
    #card-gradient-helpy{
        left: 4.5rem;
        width: 15.9rem; 
    }
    #card-gradient-weather{
        left: 26.5rem;
        width: 15.9rem;  
    }
    #card-gradient-anime{
        top: 26.5rem;
        left: 15.5rem;
        width: 15.9rem; 
    }
    /* #anime{
        position: relative;
        top: 10rem;
    } */
    .project-card .duration{
        font-size: 11px;
    }
    .project-card .company{
        font-size: 28px;
    }
    .project-card .images{
        height: 13vh;
        width: 27vw;
        margin-left: 1em;
        margin-top: .8em;
    }
}
@media only screen and (max-width: 680px){
    .ham{
        display: block;
    }
    
    #homepage{
        margin: 0;
        padding: 0;
    }
    .navbar{
        padding: 2vw 3vw;
        background-color: var(--bg-color);
    }
    .details{
        margin: 13em 2em;
    }
    .details h4{
        font-size: 10px;
    }
    .menu-content{
        display: block;
        background-color: var(--bg-color);
        height: 50%;
        border-bottom-left-radius: 10%;
        border-bottom-right-radius: 10%;
    }
    .menu-content ul li a{
        top: 7rem;
        position: relative;
        font-size: 4vw;
    }
    .right img{
        height: 40vh;
        width: auto;
    }
    .leftsidenav a{
        display: none;
    }
}
@media only screen and (max-width: 550px){
    .navbar .leftsidenav{
        display: none;
    }
    .details{
        margin: 13.5em 1em;
    }
}
@media only screen and (max-width:544px){
    #card-gradient-helpy{
        left: 8.9rem;
    }
    #card-gradient-weather{
        top: 25.5rem;
        left: 8.9rem;  
    }
    #card-gradient-anime{
        top: 47.5rem;
        left: 8.9rem;
    }
}
@media only screen and (max-width: 450px){
    .full-scr{
        top: -100%;
        height: 89vh;
    }
    .navbar .leftsidenav{
        display: none;
    }
    .right h1 img{
        height: 30vh;
    }
    .left h3{
        font-size: 4vw;
    }

    .project-card{
        height: 16rem;
        /* box-shadow: none; */
    }
    .project-card .images{
        width: 10rem;
        height: 4rem;
        object-fit: contain;
        margin-top: 1rem;
    }
    .project-content{
        gap: 2rem;
    }
    #skillspage{
        padding: 0;
    }
    #skillspage h1{
        font-size: 6vw;
    }
    .skills-box{
        margin: 1.4em 0em;
        margin-left: 2.4rem;
    }
    .skills-box h4{
        font-size: 8px;
        font-weight: 450;
    }
    .skills h2{
        padding: 0em 0em 0em 4em;
    }
    #tools h2{
        padding: 0em 0em 0em 4.6em;
    }
    .details{
        margin: 16em 0em;
    }
    .details h4{
        font-size: 9px;
    }
    #mail-button h2{
        font-size: 10px;
    }
    #card-gradient-helpy{
        width: 16rem;
        height: 17rem;
        top:3.5rem;
        left: 5.6rem;
    }
    #card-gradient-weather{
        width: 16rem;
        height: 17rem;
        top: 21.6rem;
        left: 5.6rem;    
    }
    #card-gradient-anime{
        width: 16rem;
        height: 17rem;
        top: 39.5rem;
        left: 5.6rem;   
    }
    #empty-page{
        height: 80vh;
        width: 100%;
    }
    #footer-component{
        height: 60vh;
    }
    .details{
        margin: 3rem 0rem;
        padding: 0rem 0rem;
        gap: .6rem;
    }
    #socialmedia-handles{
        margin-right: 1rem;
        margin-top: 15rem;
    }
}
@media only screen and (max-width: 390px){
    .right img{
        height: 25vh;
        width: 45vw;
        order: 1;
    }
    /* .right{
        order: 1;
    }
    .left{
        order: 2;
    } */
    #center{
        padding-bottom: 0;
        height: 70vh;
        gap: 1rem;
    }
    #projectpage{
        padding: 0;
    }
    #projectpage h1{
        padding-top: 0;
    }
    #card-gradient-helpy{
        left: 5.2rem;
    }
    #card-gradient-weather{
        left: 5.2rem;    
    }
    #card-gradient-anime{
        left: 5.2rem; 
    }
    #empty-page{
        height: 80vh;
        width: 100%;
    }
    #footer-component{
        height: 72vh;
    }
    .details{
        margin: 3rem 0rem;
        padding: 0rem 0rem;
        gap: .6rem;
    }
    #socialmedia-handles{
        margin-right: 1rem;
        margin-top: 15rem;
    }
}

/* [data-scroll] {
    opacity: 0;
    will-change: transform, scale, opacity;
    transform: translateY(6rem) scale(0.93);
    transition: all 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transform: translateY(6rem) scale(0.93);
    -moz-transform: translateY(6rem) scale(0.93);
    -ms-transform: translateY(6rem) scale(0.93);
    -o-transform: translateY(6rem) scale(0.93);
    -webkit-transition: all 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: all 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -ms-transition: all 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: all 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
  [data-scroll=in] {
     opacity: 1;
     transform: translateY(0) scale(1);
   }
    [data-scroll=in]:after {
       opacity: 1;
       transform: translateY(0);
       -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
       -ms-transform: translateY(0);
      -o-transform: translateY(0);  
    } */